body {
    padding: 0;
    margin: 0;

    #wrap {

        section#header {
            min-width: 1200px;
            overflow: hidden;

            .nav-wrap {
                background: black;
                width: 100%;
                height: 83px;
                line-height: 83px;

                #logo {
                    display: block;
                    width: 300px;
                    height: 83px;
                    float: left;
                    margin-left: 9px;

                    background-color: black;
                    background-image: url(../images/home/logo.png);
                    background-repeat: no-repeat;
                    background-size: 250px;
                    background-position: center;
                }

                .nav {
                    float: left;
                    text-transform: uppercase;
                    padding-left: 20px;

                    li {

                        a {
                            display: block;
                            margin-left: 0px;
                            padding: 0 13.5px;
                            color: white;
                            font-size: 13px;
                            letter-spacing: -0.035em;
                        }
                    }
                }

                .buttons {
                    height: 83px;
                    width: 130px;
                    float: right;
                    padding: 0 10px;

                    ul {
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        height: 100%;

                        li {
                            width: 50%;
                            height: 100%;
                            float: left;
                            list-style: none;

                            a {
                                display: block;
                                height: 100%;
                                text-align: center;
                                color: white;
                                text-transform: uppercase;
                                font-size: 16px;
                                margin-top: -2px;
                                font-weight: 500;
                                letter-spacing: 0.1em;
                                text-decoration: none;

                                span {
                                    border-bottom: 2px solid white;
                                    padding: 3px 0;
                                }

                                img {
                                    width: 75%;
                                    margin-left: 1%;
                                }
                            }
                        }
                    }
                }
            }


            .header-wrap {
                position: relative;
                height: 600px;
                width: 100%;
                background-image: url(../images/home/bg.jpg);
                background-size: cover;
                background-position: center;

                .container {
                    position: relative;
                    height: 100%;

                    .slogan {
                        position: absolute;
                        background: black;
                        bottom: 20px;
                        right: -15px;
                        height: 110px;
                        width: 665px;
                        padding: 0;
                        margin: 0;
                        color: white;

                        h1 {
                            text-align: center;
                            line-height: 25px;
                            font-size: 28px;
                            text-transform: uppercase;
                            margin-top: 30px;
                            letter-spacing: 0.02em;
                            padding-right: 19px;
                        }
                    }

                    .slogan:before {
                        display: block;
                        content: '';
                        position: absolute;
                        right: -100%;
                        width: 100%;
                        height: 110px;
                        background: black;

                    }
                }

                .nav-fixed {
                    position: fixed;
                    top: 0;
                    bottom: 50px;
                    left: 0;
                    margin: auto;
                    width: 52px;
                    height: 325px;
                    z-index: 500;

                    ul {
                        margin: 0;
                        padding: 0;

                        li {
                            list-style: none;
                            height: 53px;
                            width: 52px;
                            margin-bottom: 1px;

                            a {
                                position: relative;
                                display: block;
                                width: 52px;
                                height: 53px;
                                overflow: hidden;
                                transition: 0.5s;

                                .icon {
                                    position: relative;
                                    float: right;
                                    display: block;
                                    width: 52px;
                                    height: 53px;
                                    background: black;
                                    margin-bottom: 1px;
                                    z-index: 100;

                                    img {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        margin: auto;
                                        width: 50%;
                                    }
                                }

                                .text {
                                    display: block;
                                    width: 280px;
                                    text-align: center;
                                    padding-right: 52px;
                                    line-height: 52px;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: -1;
                                    background: #e0e0e0;
                                    text-transform: uppercase;
                                    color: black;
                                    font-weight: 100;
                                    font-size: 13px;
                                    letter-spacing: 0.035em;
                                }
                            }
                        }

                        li:hover a {
                            width: 280px;
                        }
                    }
                }

                label[for=feedback] {
                    position: fixed;
                    top: 50%;
                    right: 0;
                    background: black;
                    color: white;
                    line-height: 35px;
                    font-size: 15px;
                    text-transform: uppercase;
                    margin-top: -220px;
                    width: 220px;
                    height: 30px;
                    transform: rotate(-90deg);
                    transform-origin: 100% 100%;
                    text-align: center;
                    cursor: pointer;
                    z-index: 1001;
                }

                .form {
                    position: fixed;
                    top: 0;
                    bottom: 80px;
                    margin: auto;
                    right: 60px;
                    width: 230px;
                    height: 360px;
                    background: white;
                    border-radius: 10px;
                    overflow: hidden;
                    z-index: 10000;
                    margin-right: -500px;

                    .form-head {
                        display: block;
                        height: 30px;
                        background: black;
                        text-align: center;
                        line-height: 30px;
                        text-transform: uppercase;
                        color: white;
                        font-size: 12px;
                        letter-spacing: 0.01em;
                        padding-right: 6px;
                    }

                    p {
                        padding: 7px 0 0 10px;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 0.022em;
                    }

                    form {
                        padding-top: 6px;

                        .obligatory {
                            position: relative;
                            padding-right: 45px;

                            input {
                                position: relative;
                                margin: 0 29px;
                                width: 100%;
                                border: none;
                                border-bottom: 1px solid #969696;
                                padding: 0;
                                line-height: 20px;
                                font-size: 12px;
                                margin-top: 24px;
                                padding-left: 0px;
                            }
                        }

                        .obligatory:first-child input {
                            margin-top: 0;
                        }

                        .obligatory:after {
                            position: absolute;
                            content: '*';
                            color: red;
                            display: block;
                            bottom: -5px;
                            left: 15px;
                        }

                        .not-obligatory {
                            padding: 13px 30px;

                            label {
                                line-height: 20px;
                                font-size: 12px;
                                letter-spacing: 0.022em;
                                margin: 0;
                                padding: 0;
                            }

                            textarea {
                                margin: 0;
                                padding: 0;
                                width: 100%;
                                height: 48px;
                                margin-top: -3px;
                                background: rgba(159, 159, 159, 0.7);
                                resize: none;
                            }
                        }

                        input[type=submit] {
                            border: none;
                            background: black;
                            color: white;
                            float: right;
                            margin-right: 30px;
                            margin-top: -1px;
                            height: 20px;
                            width: 105px;
                            font-size: 12px;
                            text-transform: uppercase;
                            font-weight: 700;
                        }
                    }
                }

                #feedback {
                    display: none;
                }

                #feedback:checked + .form {
                    animation: bounceInRight 1s forwards;
                    margin-right: 0;
                }

                #feedback:not(:checked) + .form {
                    animation: bounceOutRight 1s forwards;
                    margin-right: -500px;
                    transition: 10s;
                }
            }
        }
    }
}

/*MIN-WIDTH FIXED*/
.container {
    min-width: 1200px;
}