/* line 3, ../sass/style.scss */
body {
  padding: 0;
  margin: 0;
  font-family: 'Aeroport';
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/style.scss */
body section:not(#header) {
  min-width: 1200px;
  position: relative;
  background: white;
  height: 705px;
  width: 100%;
  padding-bottom: 0px;
}
/* line 20, ../sass/style.scss */
body section:not(#header) h2.header {
  position: relative;
  background: yellow;
  width: 320px;
  height: 45px;
  position: absolute;
  top: 15px;
  left: 0;
  text-transform: uppercase;
  font-size: 22px;
  text-align: right;
  line-height: 45px;
  padding-right: 60px;
  background: black;
  color: white;
  font-weight: 100;
}
/* line 38, ../sass/style.scss */
body section:not(#header) h2:after {
  position: absolute;
  top: 0;
  right: 100%;
  content: '';
  display: block;
  height: 45px;
  width: 500px;
  background: black;
}
/* line 49, ../sass/style.scss */
body section:not(#header) h2:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: -25px;
  transform: rotate(-40deg);
  width: 100px;
  height: 7px;
  background: white;
}
/* line 61, ../sass/style.scss */
body section:not(#header) .container:before {
  content: '';
  display: block;
  position: absolute;
  right: 140px;
  width: 100px;
  height: 700px;
  background-image: url(../images/background-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}
/* line 76, ../sass/style.scss */
body section#header {
  min-width: 1200px;
  overflow: hidden;
}
/* line 80, ../sass/style.scss */
body section#header .nav-wrap {
  background: black;
  width: 100%;
  height: 83px;
  line-height: 83px;
}
/* line 86, ../sass/style.scss */
body section#header .nav-wrap #logo {
  display: block;
  width: 300px;
  height: 83px;
  float: left;
  margin-left: 9px;
  background-color: black;
  background-image: url(../images/home/logo.png);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: center;
}
/* line 100, ../sass/style.scss */
body section#header .nav-wrap .nav {
  float: left;
  text-transform: uppercase;
  padding-left: 20px;
}
/* line 107, ../sass/style.scss */
body section#header .nav-wrap .nav li a {
  display: block;
  margin-left: 0px;
  padding: 0 13.5px;
  color: white;
  font-size: 13px;
  letter-spacing: -0.035em;
}
/* line 118, ../sass/style.scss */
body section#header .nav-wrap .buttons {
  height: 83px;
  width: 130px;
  float: right;
  padding: 0 10px;
}
/* line 124, ../sass/style.scss */
body section#header .nav-wrap .buttons ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/* line 130, ../sass/style.scss */
body section#header .nav-wrap .buttons ul li {
  width: 50%;
  height: 100%;
  float: left;
  list-style: none;
}
/* line 136, ../sass/style.scss */
body section#header .nav-wrap .buttons ul li a {
  display: block;
  height: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: -2px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-decoration: none;
}
/* line 148, ../sass/style.scss */
body section#header .nav-wrap .buttons ul li a span {
  border-bottom: 2px solid white;
  padding: 3px 0;
}
/* line 153, ../sass/style.scss */
body section#header .nav-wrap .buttons ul li a img {
  width: 75%;
  margin-left: 1%;
}
/* line 164, ../sass/style.scss */
body section#header .header-wrap {
  position: relative;
  height: 600px;
  width: 100%;
  background-image: url(../images/home/bg.jpg);
  background-size: cover;
  background-position: center;
}
/* line 172, ../sass/style.scss */
body section#header .header-wrap .container {
  position: relative;
  height: 100%;
}
/* line 176, ../sass/style.scss */
body section#header .header-wrap .container .slogan {
  position: absolute;
  background: black;
  bottom: 20px;
  right: -15px;
  height: 110px;
  width: 665px;
  padding: 0;
  margin: 0;
  color: white;
}
/* line 187, ../sass/style.scss */
body section#header .header-wrap .container .slogan h1 {
  text-align: center;
  line-height: 25px;
  font-size: 28px;
  text-transform: uppercase;
  margin-top: 30px;
  letter-spacing: 0.02em;
  padding-right: 19px;
}
/* line 198, ../sass/style.scss */
body section#header .header-wrap .container .slogan:before {
  display: block;
  content: '';
  position: absolute;
  right: -100%;
  width: 100%;
  height: 110px;
  background: black;
}
/* line 210, ../sass/style.scss */
body section#header .header-wrap .nav-fixed {
  position: fixed;
  top: 0;
  bottom: 50px;
  left: 0;
  margin: auto;
  width: 52px;
  height: 325px;
  z-index: 500;
}
/* line 220, ../sass/style.scss */
body section#header .header-wrap .nav-fixed ul {
  margin: 0;
  padding: 0;
}
/* line 224, ../sass/style.scss */
body section#header .header-wrap .nav-fixed ul li {
  list-style: none;
  height: 53px;
  width: 52px;
  margin-bottom: 1px;
}
/* line 230, ../sass/style.scss */
body section#header .header-wrap .nav-fixed ul li a {
  position: relative;
  display: block;
  width: 52px;
  height: 53px;
  overflow: hidden;
  transition: 0.5s;
}
/* line 238, ../sass/style.scss */
body section#header .header-wrap .nav-fixed ul li a .icon {
  position: relative;
  float: right;
  display: block;
  width: 52px;
  height: 53px;
  background: black;
  margin-bottom: 1px;
  z-index: 100;
}
/* line 248, ../sass/style.scss */
body section#header .header-wrap .nav-fixed ul li a .icon img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
}
/* line 259, ../sass/style.scss */
body section#header .header-wrap .nav-fixed ul li a .text {
  display: block;
  width: 280px;
  text-align: center;
  padding-right: 52px;
  line-height: 52px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #e0e0e0;
  text-transform: uppercase;
  color: black;
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 0.035em;
}
/* line 280, ../sass/style.scss */
body section#header .header-wrap .nav-fixed ul li:hover a {
  width: 280px;
}
/* line 290, ../sass/style.scss */
body section#catalogs .container {
  height: 100%;
}
/* line 293, ../sass/style.scss */
body section#catalogs .container .wrap-content {
  width: 100%;
  height: 100%;
  padding: 210px 175px 210px 180px;
  letter-spacing: 0.035em;
}
/* line 299, ../sass/style.scss */
body section#catalogs .container .wrap-content a {
  display: block;
  width: 300px;
  height: 44px;
  background: black;
  margin-top: 66px;
  text-align: center;
  line-height: 44px;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  text-decoration: none;
}
/* line 320, ../sass/style.scss */
body section#developments .container {
  width: 100%;
  height: 100%;
}
/* line 324, ../sass/style.scss */
body section#developments .container .wrap-content {
  width: 100%;
  height: 100%;
  padding: 50px 45px 90px 180px;
}
/* line 329, ../sass/style.scss */
body section#developments .container .wrap-content .row {
  height: 100%;
}
/* line 332, ../sass/style.scss */
body section#developments .container .wrap-content .row .col {
  height: 100%;
}
/* line 335, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .post {
  width: 100%;
  height: 480px;
  margin-top: 80px;
  padding: 5px 0 0 5px;
}
/* line 341, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .post .img {
  width: 100%;
  height: 340px;
  background: #e3e3e3;
}
/* line 347, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .post .header {
  overflow: hidden;
  height: 50px;
}
/* line 351, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .post .header span:first-child {
  display: block;
  float: left;
  width: 420px;
  font-size: 26px;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 0.35px;
}
/* line 361, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .post .header span:last-child {
  display: block;
  float: right;
  width: 85px;
  line-height: 70px;
  letter-spacing: 0.35px;
}
/* line 370, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .post .description {
  width: 100%;
  height: 60px;
  padding-top: 9px;
  letter-spacing: 0.65px;
}
/* line 377, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .post a {
  font-family: Arial;
  font-style: italic;
  font-size: 18px;
  text-transform: lowercase;
  color: #7849ec;
  font-weight: 100;
}
/* line 387, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .wrap-list {
  width: 100%;
  height: 100%;
  padding-left: 45px;
}
/* line 392, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .wrap-list ul {
  display: block;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid black;
  padding: 0;
  margin: 0;
  height: 100%;
  padding: 15px 42px 0px 48px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* line 403, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .wrap-list ul li {
  display: block;
  list-style: none;
  width: 243px;
  height: 175px;
  margin-bottom: 10px;
}
/* line 410, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .wrap-list ul li .img {
  width: 100%;
  height: 133px;
  background: #e3e3e3;
}
/* line 416, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .wrap-list ul li .header {
  background: green;
  line-height: 40px;
}
/* line 420, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .wrap-list ul li .header span:first-child {
  display: block;
  float: left;
  width: 160px;
  font-weight: 900;
}
/* line 427, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .wrap-list ul li .header span:last-child {
  display: block;
  float: right;
  width: 80px;
  font-size: 15px;
  text-align: right;
}
/* line 438, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .wrap-list ul::-webkit-scrollbar {
  width: 2px;
}
/* line 442, ../sass/style.scss */
body section#developments .container .wrap-content .row .col .wrap-list ul::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}
/* line 458, ../sass/style.scss */
body section#contacts .container {
  width: 100%;
  height: 100%;
}
/* line 462, ../sass/style.scss */
body section#contacts .container .wrap-content {
  width: 100%;
  height: 100%;
  padding: 130px 100px 100px 110px;
}
/* line 467, ../sass/style.scss */
body section#contacts .container .wrap-content .row {
  height: 100%;
}
/* line 470, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col {
  height: 100%;
}
/* line 473, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .info {
  width: 100%;
  height: 190px;
}
/* line 477, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .info span {
  display: block;
  padding: 0px 30px 15px 70px;
  font-size: 26px;
  letter-spacing: 0.35px;
  margin-bottom: 10px;
}
/* line 485, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .info span:nth-child(2) {
  font-size: 18px;
  letter-spacing: 0.2px;
}
/* line 490, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .info span:nth-child(3) {
  font-size: 18px;
  letter-spacing: 0px;
  margin-top: 21px;
}
/* line 497, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .map {
  width: 100%;
  height: 290px;
  background: green;
}
/* line 504, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .form {
  position: relative;
  width: 100%;
  right: 0;
  background: none;
  padding-top: 3px;
}
/* line 511, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .form input {
  background: none;
  margin: 0 23px 27px 23px;
  font-size: 13px;
  color: black;
}
/* line 518, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .form input::-moz-placeholder {
  color: black;
}
/* line 522, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .form input::-webkit-input-placeholder {
  color: black;
}
/* line 526, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .form input:-ms-input-placeholder {
  color: black;
}
/* line 530, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .form input::-ms-input-placeholder {
  color: black;
}
/* line 534, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .form input::placeholder {
  color: black;
}
/* line 538, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .form .obligatory:after {
  display: none;
}
/* line 541, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .form .not-obligatory {
  padding: 13px 0 13px 20px;
}
/* line 544, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .form .not-obligatory textarea {
  background: #f5f5e9;
  border: none;
  height: 60px;
  margin-top: 3px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.24);
}
/* line 552, ../sass/style.scss */
body section#contacts .container .wrap-content .row .col .form input[type=submit] {
  margin-right: 0;
  color: white;
  background: black;
}
/* line 564, ../sass/style.scss */
body footer {
  background: black;
  width: 100%;
  height: 100px;
}

/*MIN-WIDTH FIXED*/
/* line 572, ../sass/style.scss */
.container {
  position: relative;
  min-width: 1200px;
}

/* line 577, ../sass/style.scss */
#order {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1000;
}
/* line 587, ../sass/style.scss */
#order .shadow {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
/* line 600, ../sass/style.scss */
#order .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 525px;
  height: 545px;
  background: red;
}
/* line 611, ../sass/style.scss */
#order .content .header {
  width: 100%;
  height: 65px;
  background: black;
  line-height: 70px;
  padding: 0 38px;
  font-size: 18px;
  letter-spacing: 0.015em;
  color: white;
}

/* line 624, ../sass/style.scss */
#order:target {
  display: block;
}

/* line 629, ../sass/style.scss */
label[for=feedback] {
  position: fixed;
  top: 50%;
  right: 0;
  background: black;
  color: white;
  line-height: 35px;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: -220px;
  width: 220px;
  height: 30px;
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
  text-align: center;
  cursor: pointer;
  z-index: 1001;
}

/* line 648, ../sass/style.scss */
.form {
  position: fixed;
  top: 0;
  bottom: 80px;
  margin: auto;
  right: 60px;
  width: 230px;
  height: 360px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  z-index: 100;
}
/* line 661, ../sass/style.scss */
.form .form-head {
  display: block;
  height: 30px;
  background: black;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  letter-spacing: 0.01em;
  padding-right: 6px;
}
/* line 674, ../sass/style.scss */
.form p {
  padding: 7px 0 0 10px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.022em;
}
/* line 681, ../sass/style.scss */
.form form {
  padding-top: 6px;
}
/* line 684, ../sass/style.scss */
.form form .obligatory {
  position: relative;
  padding-right: 45px;
}
/* line 688, ../sass/style.scss */
.form form .obligatory input {
  position: relative;
  margin: 0 29px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #969696;
  padding: 0;
  line-height: 20px;
  font-size: 12px;
  margin-top: 24px;
  padding-left: 0px;
}
/* line 702, ../sass/style.scss */
.form form .obligatory:first-child input {
  margin-top: 0;
}
/* line 706, ../sass/style.scss */
.form form .obligatory:after {
  position: absolute;
  content: '*';
  display: block;
  bottom: -5px;
  left: 15px;
}
/* line 714, ../sass/style.scss */
.form form .not-obligatory {
  padding: 13px 30px;
}
/* line 717, ../sass/style.scss */
.form form .not-obligatory label {
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 0.022em;
  margin: 0;
  padding: 0;
}
/* line 725, ../sass/style.scss */
.form form .not-obligatory textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 48px;
  margin-top: -3px;
  background: rgba(159, 159, 159, 0.7);
  resize: none;
}
/* line 736, ../sass/style.scss */
.form form input[type=submit] {
  border: none;
  background: black;
  color: white;
  float: right;
  margin-right: 30px;
  margin-top: -1px;
  height: 20px;
  width: 105px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 752, ../sass/style.scss */
#feedback {
  display: none;
}

/* line 756, ../sass/style.scss */
#feedback:checked + .form {
  display: block;
}

/* line 760, ../sass/style.scss */
#feedback:not(:checked) + .form {
  display: none;
}
